html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #024a13; /* Set a background color */
}

.app {
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 960px;
  height: 1000px; /* Fixed height of 1000px */
  background-color: #f3f1b9;
  z-index: 1;
}

.generalPages {
  position: absolute;
  top: 190px; /* Adjust according to the height of your header */
  left: 250px; /* Adjust according to the width of your navigation */
  bottom: 108px; /* Adjust according to the height of your footer */
  padding-left: 25px;
  padding-top: 15px;
  overflow-y: auto; /* Add vertical scrollbar if content overflows */
  border-top: 2px dotted rgba(0, 0, 0, 0.379);
  border-left: 2px dotted rgba(0, 0, 0, 0.379);
  border-bottom: 2px dotted rgba(0, 0, 0, 0.379);
}

.home {
  position: relative;
  display: flex; /* Align items horizontally */
}

.home img {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.homePageRightText {
  margin-left: 20px; /* Adjust spacing between image and text */
}

.homePageRightText p {
  font-family: Arial, sans-serif;
  color: red;
  text-decoration: underline;
}

.homePageRightText input[type="text"],
.homePageRightText button {
  margin-top: 10px;
  padding: 5px;
}

.homePageBottomHeader
{
  width: 600px;
  position: absolute;
  top: 200px;
  left: 55px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: rgb(152, 0, 0);
}

.homeBottomPageText
{
  width: 650px;
  position: absolute;
  top: 235px;
  left: 15px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  color: rgb(152, 0, 0);
  font-size: 14px;
  color: rgb(0, 0, 0);
}






// footer components

.footerContainer {
  background-color: #f3f1b9;
  position: relative;
  border-top: 2px dotted rgba(0, 0, 0, 0.379);
}

.footerMedal {
  position: absolute;
  top: 55px;
  right: 320px; /* Adjust as needed */
  transform: translateY(-50%);
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.footerMedal img {
  width: 180px; /* Initial width of the medal */
}

.footerText {
  position: absolute;
  top: 50px;
  right: 20px; /* Adjusted to be 200px away from the right border */
  transform: translateY(-50%);
}

.footerText h2 {
  font-family: Arial, sans-serif;
  color: #373c2a;
  margin: 0; /* Remove default margin */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.links {
  display: flex; /* Align links horizontally */
  align-items: center; /* Align items vertically */
}

.links span {
  margin: 0 5px; /* Adjust space between links */
}

.footerText a {
  color: #373c2a;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

// navigation components

.navigation {
  position: relative;
  width: 250px;
  height: 700px;
  background-color: #ffffff;
}

.backgroundImageTwo {
  position: relative;
  height: 100%;
  opacity: 0.38;
}

.backgroundImageTwo img {
  width: 250px;
  height: 100%;
  object-fit: cover;
}

.navLinks {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 220px;
}

.navLinks a {
  font-family: Arial, sans-serif;
  opacity: 1;
  margin-bottom: 15px;
  text-decoration: none;
}

.linkContainer {
  position: relative; /* Make the link container a positioned parent */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 7px;
  text-align: right;
  margin-right: 15px;
}

.linkContainer a {
  margin-bottom: 2px; /* Adjust spacing between links */
}

.linkText {
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  opacity: 1;
  font-size: 15px;
  font-weight: bold;
}

.linkTextTwo {
  font-family: Arial, sans-serif;
  color: rgb(10, 44, 0);
  opacity: 1;
  font-size: 12px;
  font-weight: bold;
}

.starIcon {
  position: absolute; /* Set position to absolute */
  top: 2.5px; /* Align star to the top of the link container */
  right: -23px;
  width: 16px;
  height: 16px;
}

.starIconTwo {
  position: absolute;
  top: 24px;
  right: -23px;
  width: 16px;
  height: 16px;
}

.starIconThree
{
  position: absolute;
  top: 40px;
  right: -23px;
  width: 16px;
  height: 16px;
}

.starIconFour
{
  position: absolute;
  top: 61px;
  right: -23px;
  width: 16px;
  height: 16px;
}

.starIconFive
{
  position: absolute;
  top: 81px;
  right: -23px;
  width: 16px;
  height: 16px;
}

.starIconSix
{
  position: absolute;
  top: 105px;
  right: -23px;
  width: 16px;
  height: 16px;
}

.starIconSeven
{
  position: absolute;
  top: 140px;
  right: -23px;
  width: 16px;
  height: 16px;
}
.starIconEight
{
  position: absolute;
  top: 162px;
  right: -23px;
  width: 16px;
  height: 16px;
}
.starIconNine
{
  position: absolute;
  top: 197px;
  right: -23px;
  width: 16px;
  height: 16px;
}
.starIconTen
{
  position: absolute;
  top: 225px;
  right: -23px;
  width: 16px;
  height: 16px;
}

// header components

.headerContainer {
  position: relative;
  width: 100%;
  height: 190px;
  background-color: #ffffff;
  display: flex;

}

.backgroundImageOne {
  position: relative;
  flex: 1;
  overflow: hidden;
  opacity: 0.45;
}

.backgroundImageOne img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.headerTextOne {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  color: #373c2a;
  opacity: 1;
}

.headerTextTwo {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  color: rgb(173, 0, 0);
  opacity: 1;
  max-width: 100%;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
}
