html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #373c2a;
}

.app {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 960px;
  height: 1000px;
  background-color: #f3f1b9;
}

.backgroundContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff; 

  .backgroundImageOne {
    position: relative;
    width: 100%;
    height: 100%;
    // background-color: #ffffff; 
    overflow: hidden;
    opacity: 0.3;
  }
  
  .backgroundImageOne img {
    // display: block;
    vertical-align: bottom;
    width: 960px;
    height: 190px;
    object-fit: cover; 
  }

  .medal
  {
    background-color: transparent;
  }
}

.navigation {
  position: absolute;
  width: 280px; 
  height: 680px; 
  background-color: #ffffff;
  
  .backgroundImageTwo {
    position: absolute;
    height: 50%; /* Make the background image fill the full height of the navigation bar */
    opacity: 0.5;
  }
  
  .backgroundImageTwo img {
    // top: 400px;
    width: 280px;
    height: 680px; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  
}
